:root {
  --yangColor: #d8c21e;
  --yinColor: #111111;
  --errorColor: #D93014;
  --focusColor: #FFE83D;
  --borderRadius: 20px;
  --animation: 0.3s ease;
}

body {
  color: var(--yangColor);
  font-size: 100%;
  font-family: 'Gemunu Libre', sans-serif;
  box-sizing: border-box;
  width: auto;
  height: auto;
  background-color: var(--yinColor);
  overflow: hidden;
}

*,
*::before,
*::after {
  font-size: inherit;
  font-family: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.generator-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.title::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  border-bottom: 1px solid var(--yangColor);
}

.inputs-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0 25px 0;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  color: var(--yangColor);
  border: 1px solid var(--yangColor);
  background: var(--yinColor);
  margin-top: 5px;
  padding: 1em;
  border-radius: var(--borderRadius);
}

.input:focus {
  color: var(--focusColor);
  border: 1px solid var(--focusColor);
}

.output-wrapper {
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 300px;
  border: 1px solid var(--yangColor);
  border-radius: var(--borderRadius);
}

.button {
  display: inline-block;
  font-size: 2rem;
  padding: 0.3em 1.2em;
  margin: 25px 0 10px 0;
  border-radius: 2em;
  border: none;
  text-decoration: none;
  font-weight: 300;
  color: var(--yinColor);
  background-color: var(--yangColor);
  border: 1px solid transparent;
  text-align: center;
  transition: var(--animation);
  cursor: pointer;
}

.button:hover {
  color: var(--yangColor);
  background-color: var(--yinColor);
  border: 1px solid var(--yangColor);
}

#errorText {
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 0 1rem;
  text-align: center;
  border: none;
}

.error {
  color: var(--errorColor);
}

.output-wrapper.error, input.error {
  border: 1px solid var(--errorColor);
}


@media (max-width: 1024px) {
  .container {
    justify-content: center;
    align-items: flex-start;
  }

  .title {
    font-size: 2em;
    text-align: center;
    margin-top: 5%;
  }

  .inputs-container {
    flex-direction: column;
    margin: 0;
  }

  .input-wrapper {
    margin: 1rem 0;
  }

  .input {
    font-size: 2rem;
    height: 3rem;
  }

  .output-wrapper {
    font-size: 10rem;
    width: 100%;
    height: 25vh;
  }

  .button {
    font-size: 3rem;
    padding: 0.5em 1.5em;
    margin: 25px 0 10px 0;
    border-radius: var(--borderRadius);
  }

  #errorText {
    font-size: 2.5rem;
  }
}
