html {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.generator-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.inputs-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0 25px 0;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin-top: 5px;
  padding: 0.3em;
}

.output-wrapper {
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 300px;
  border: 1px solid #000000;
}

.button {
  display: inline-block;
  font-size: 2rem;
  padding: 0.3em 1.2em;
  margin: 25px 0 10px 0;
  border-radius: 2em;
  border: none;
  text-decoration: none;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  }

.button:hover{
  background-color:#4095c6;
}

.error {
  font-size: 1.2rem;
  color: red;
  margin-top: 5%;
  padding: 0 1rem;
  text-align: center;

}

@media (max-width: 1024px) {
  .container {
    justify-content: center;
    align-items: flex-start;
  }

  .title {
    font-size: 2em;
    text-align: center;
    margin-top: 5%;
  }

  .inputs-container {
    flex-direction: column;
    margin: 0;
  }

  .input-wrapper {
    margin: 1rem 0;
  }

  .input {
    font-size: 2rem;
    height: 3rem;
  }

  .output-wrapper {
    font-size: 10rem;
    width: 100%;
    height: 25vh;
  }

  .button {
    font-size: 3rem;
    padding: 0.5em 1.5em;
    margin: 25px 0 10px 0;
    border-radius: 2em;
  }

  .error {
    font-size: 2.5rem;
  }
}